<div class="container-fluid bg-transparent">
    <nav class="navbar bg-transparent">
        <a class="navbar-brand text-dark" href="/">Galaxy Travel</a>
        <a class="nav-item nav-link active text-dark" href="#">Home</a>
        <a class="nav-item nav-link text-dark" href="#">Blog</a>
        <a class="nav-item nav-link text-dark" href="#">Travels</a>
        <a class="nav-item nav-link text-dark" href="#">Contact</a>
        <button type="button" class="btn btn-primary">Cart</button>
    </nav>
</div>